RewriteEngine on
    
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]


php_value upload_max_filesize 640M
php_value post_max_size 1280M
php_value memory_limit 2560M
php_value max_execution_time 3000
php_value max_input_time 3000



